<div class="grid-color-swatch-area product-color">
  {%- assign number = 0 -%}
  <ul class="color-categories grid-color-swatch{% if variant.image != null %} grid-image-swatch{% endif %}">
    {%- for option in product.options -%}
    {%- if option == 'Color' or option == 'Colour' -%}
    {%- assign index = forloop.index0 -%}
    {%- assign colorlist = '' -%}
    {%- assign color = '' -%}
    {%- for variant in product.variants -%}
    {%- capture color -%}
    {{ variant.options[index] }}
    {%- endcapture -%}
    {%- unless colorlist contains color -%}

    {% assign number = number | plus: 1 %}
    
    {%- assign text = color | handleize -%}
    {% if number <= 4 %}
    <li class="{{ color | handle }} grid-swatch-selector">
      <label data-toggle="tooltip" data-placement="top" title="{{ color | capitalize }}" style="{%- if text == 'white' -%}border: 1px solid #f1f1f1;{%- endif -%} 
                    {%- if variant.image -%}background: url({{ variant.image.src | product_img_url: 'thumb' }}) no-repeat scroll center center / cover;
                    {%- elsif variant.metafields.product_option.variant_color.value -%}
                    background: {{ variant.metafields.product_option.variant_color.value }};
                    {%- else -%}background: {{ color | split: ' ' | last | handle }};{%- endif -%}">
      </label>
      {%- if variant.image != null -%}
      <div class="hidden">
        <a href="{{ variant.image.src | product_img_url: 'large' }}"></a>
      </div>
      {%- endif -%}
      <div class="product-url" style="display: none;">
        <a href="{{ product.url | within: collection }}?variant={{ variant.id }}"></a>
      </div>
    </li>
    {%- endif -%}
    {%- capture tempList -%}
    {{ colorlist | append: color | append: ' ' }}
    {%- endcapture -%}
    {%- assign colorlist = tempList -%}
    {%- endunless -%}
    {%- endfor -%}


    {%- if option == 'Color' and number > 4 -%}
    <li class="vaiant-plus-one">
      <a href="{{ product.url | within: collection }}">
        <label>+{{ number | minus: 4 }}</label>
      </a>
    </li>
    {%- endif -%}

    
    {%- endif -%}
    {%- endfor -%}
  </ul>
</div>