<style>
  .theme-logo img{
    max-width: {{ section.settings.logo_width }}px;
  }
  {%- for block in section.blocks -%}
  {%- case block.type -%}
  {%- when 'header_color_2' -%}
  {%- if block.settings.header_color_enable -%}
  .ltn__header-4 .ltn__header-middle-area, .ltn__header-5 .ltn__header-middle-area{
    background: {{ block.settings.header_bg_color }};
  }
  .ltn__main-menu>ul>li>a, .ltn__header-options, .mini-cart-icon, .mobile-menu-toggle>a, .ltn__header-area .ltn__drop-menu.default-currency-menu>ul>li .disclosure__button,
  .ltn__drop-menu>ul>li .disclosure__button:before
  {
    color: {{ block.settings.header_color }};
  }
  .mobile-menu-toggle svg path {
    stroke: {{ block.settings.header_color }};
  }
  .sticky-active.ltn__sticky-bg-white{
    background: {{ block.settings.header_sticky_bg_color }};
  }
  .sticky-active.ltn__sticky-bg-white .header-feature-icon, .sticky-active.ltn__sticky-bg-white .header-feature-item h6, .sticky-active.ltn__sticky-bg-white .header-feature-item p, .sticky-active.ltn__sticky-bg-white .header-search-1 .search-icon, .sticky-active.ltn__sticky-bg-white .header-wishlist a, .sticky-active.ltn__sticky-bg-white .ltn__main-menu>ul>li>a, .sticky-active.ltn__sticky-bg-white .mini-cart-icon,
  .sticky-active.ltn__sticky-bg-white .get-support .get-support-info h6, .sticky-active.ltn__sticky-bg-white .get-support .get-support-info h4 p,
  .sticky-active.ltn__sticky-bg-white .ltn__header-options .ltn__drop-menu>ul>li>a, .ltn__drop-menu>ul>li .disclosure__button:before{
  	color: {{ block.settings.header_sticky_color }};
  }
  {%- endif -%}
  {%- if block.settings.other_pages_header_color_enable -%}
  {%- unless template == 'index' -%}
  .ltn__header-4 .ltn__header-middle-area, .ltn__header-5 .ltn__header-middle-area{
    background: {{ block.settings.other_pages_header_bg_color }};
  }
  .ltn__main-menu>ul>li>a, .ltn__header-options, .mini-cart-icon, .mobile-menu-toggle>a, .ltn__header-area .ltn__drop-menu.default-currency-menu>ul>li .disclosure__button,
  .ltn__drop-menu>ul>li .disclosure__button:before{
    color: {{ block.settings.other_pages_header_color }};
  }
  .mobile-menu-toggle svg path {
    stroke: {{ block.settings.other_pages_header_color }};
  }
  .sticky-active.ltn__sticky-bg-white{
    background: {{ block.settings.other_pages_header_sticky_bg_color }};
  }
  .sticky-active.ltn__sticky-bg-white .header-feature-icon, .sticky-active.ltn__sticky-bg-white .header-feature-item h6, .sticky-active.ltn__sticky-bg-white .header-feature-item p, .sticky-active.ltn__sticky-bg-white .header-search-1 .search-icon, .sticky-active.ltn__sticky-bg-white .header-wishlist a, .sticky-active.ltn__sticky-bg-white .ltn__main-menu>ul>li>a, .sticky-active.ltn__sticky-bg-white .mini-cart-icon,
  .sticky-active.ltn__sticky-bg-white .get-support .get-support-info h6, .sticky-active.ltn__sticky-bg-white .get-support .get-support-info h4 p,
  .sticky-active.ltn__sticky-bg-white .ltn__header-options .ltn__drop-menu>ul>li>a, .ltn__drop-menu>ul>li .disclosure__button:before{
  	color: {{ block.settings.other_pages_header_sticky_color }};
  }
  {%- endunless -%}
  {%- endif -%}
  {%- endcase -%}
  {%- endfor -%}
</style>


<!-- HEADER AREA START (header-4) -->
{%- capture header_transparent_class -%}
{%- if section.settings.header_transparent_enable and section.settings.other_page_header_transparent_enable -%}
ltn__header-transparent
{%- elsif section.settings.header_transparent_enable -%}
{%- if template == 'index' -%}
ltn__header-transparent
{%- endif -%}
{%- elsif section.settings.other_page_header_transparent_enable -%}
{%- unless template == 'index' -%}
ltn__header-transparent
{%- endunless -%}
{%- endif -%}
{%- endcapture -%}

{% liquid
  assign sticky_header = true
  if template == 'page.wishlist' or template == '404' or template == 'customers/login' or template == 'customers/register' or template == 'customers/account' or template == 'customers/activate_account' or template == 'customers/addresses' or template == 'customers/order' or template == 'customers/reset_password'
    assign sticky_header = false
  endif

  assign header_border = false
  if template == '404' or template == 'product' or template == 'article' or template == 'article.service' or template == 'customers/login' or template == 'customers/register' or template == 'customers/account' or template == 'customers/activate_account' or template == 'customers/addresses' or template == 'customers/order' or template == 'customers/reset_password'
    assign header_border = true
  endif

  if template == 'collection' and collection.handle != 'all'
    assign header_border = true
  endif
%}

<header id="section-{{ section.id }}" data-section="headerSection" class="{% if header_border %}border-bottom{% endif %} {{ header_transparent_class }} ltn__header-area ltn__header-4 ltn__header-7 d-none d-sm-none d-md-none d-lg-none d-xl-block">
  {%- for block in section.blocks -%}
  {%- case block.type -%}
  {%- when 'header_top' -%}
  {%- render 'header-top', block: block -%}
  {%- endcase -%}
  {%- endfor -%}
  <!-- ltn__header-middle-area start -->
  <div class="ltn__header-middle-area {% if section.settings.sticky_header_enable and sticky_header %}ltn__header-sticky{% endif %} ltn__sticky-bg-white {% if section.settings.large_width_enable %}plr--9{% endif %}">
    <div class="{% if section.settings.large_width_enable %}container-fluid{% else %}container{% endif %}">
      <div class="row">
        <div class="col">
          <div class="site-logo">
            {%- render 'header-logo' -%}
          </div>
        </div>
        <div class="col header-menu-column">
          <div class="header-menu d-none d-xl-block">
            {%- render 'main-menu' -%}
          </div>
        </div>
        {%- if section.settings.header_option_enable -%}
        <div class="col">
          <div class="ltn__header-options">
            {%- if settings.currency_enable -%} 
            {%- if settings.currency_handle == 'shopify_currency' -%}
            {% if localization.available_countries.size > 1 %}
            <div class="ltn__drop-menu ltn__currency-menu default-currency-menu">
              <ul>
                <li>
                  <localization-form>
                    {% form 'localization' %}
                      <div class="disclosure">
                        <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="CountryList">
                          {{ localization.country.iso_code }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                        </button>
                
                        <ul id="CountryList" role="list" class="disclosure__list ltn__scrollbar">
                          {% for country in localization.available_countries %}
                            <li class="disclosure__item" tabindex="-1">
                              <a href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                                {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                
                        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                      </div>
                    {% endform %}
                  </localization-form>
                </li>
              </ul>
            </div>
            {% endif %}
            {%- elsif settings.currency_handle == 'ajax_currency' -%}
            <div class="ltn__drop-menu ltn__currency-menu">
              {%- render 'currency-picker' -%}
            </div>
            {%- endif -%}
            {%- endif -%}
            {%- render 'header-option' -%}
          </div>
        </div>
        {%- endif -%}
      </div>
    </div>
  </div>
  <!-- ltn__header-middle-area end -->
</header>
<!-- HEADER AREA END -->

{% render 'mini-cart' %}
{% render 'mobile-header' %}