<div class="mobile-header-area d-xl-none">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-2">
        <!-- Mobile Menu Button -->
          <div class="mobile-menu-toggle d-xl-none">
            <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
              <svg viewBox="0 0 800 600">
                <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                <path d="M300,320 L540,320" id="middle"></path>
                <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
              </svg>
            </a>
          </div>
      </div>
      <div class="col-5">
        <!-- logo -->
        <div class="logo">
          {%- render 'header-logo' -%}
        </div>
      </div>
      <div class="col-5">
        <div class="ltn__header-options">
          {%- if section.settings.header_search_enable -%}
          <div class="header-search-wrap">
            <div class="header-search-1">
              <div class="search-icon">
                <i class="icon-search for-search-show"></i>
                <i class="icon-cancel  for-search-close"></i>
              </div>
            </div>
            <div class="header-search-1-form">
              {%- render 'search-bar' -%}
            </div>
          </div>
          {%- endif -%}
          {%- if section.settings.user_menu_enable -%}
          <div class="ltn__drop-menu user-menu">
            <ul>
              <li>
                <a href="#"><i class="icon-user"></i></a>
                <ul>
                  {%- assign user_menu = section.settings.user_menu_handle -%}
                  {%- for link in linklists[user_menu].links -%}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {%- endfor -%}
                  {%- if shop.customer_accounts_enabled and customer and section.settings.logout_title != '' -%}
                  <li>
                    <a href="{{ routes.account_logout_url }}">{{ section.settings.logout_title }}</a>
                  </li>
                  {%- elsif shop.customer_accounts_enabled and section.settings.login_title != '' -%}
                  <li>
                    <a href="{{ routes.account_login_url }}">{{ section.settings.login_title }}</a>
                  </li>
                  {%- endif -%}
                </ul>
              </li>
            </ul>
          </div>
          {%- endif -%}
          <!-- mini-cart -->
          <div class="mini-cart-icon">
            <a href="#ltn__utilize-cart-menu" class="ltn__utilize-toggle">
              <i class="icon-shopping-cart"></i>
              <sup><span class="bigcounter">{{ cart.item_count }}</span></sup>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Utilize Mobile Menu Start -->
<div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
  <div class="ltn__utilize-menu-inner ltn__scrollbar">
    <div class="ltn__utilize-menu-head">
      <div class="site-logo">
        {% capture logo_size %}{{ section.settings.logo_width | escape }}x{% endcapture %}
        {%- if section.settings.logo_3 -%}
        <a href="{{ routes.root_url }}" class="theme-logo">
          <img loading="lazy" src="{{ section.settings.logo_3 | img_url: logo_size }}" alt="{{ section.settings.logo_3.alt | default: shop.name }}"
               {%- if section.settings.ratina_logo_enable -%}
               srcset="{{ section.settings.logo_3 | img_url: logo_size }} 1x, {{ section.settings.logo_3 | img_url: logo_size, scale: 2 }} 2x"
               {%- endif -%}>
        </a>
        {%- elsif section.settings.logo -%}
        <a href="{{ routes.root_url }}" class="theme-logo">
          <img loading="lazy" src="{{ section.settings.logo | img_url: logo_size }}" alt="{{ section.settings.logo.alt | default: shop.name }}"
               {%- if section.settings.ratina_logo_enable -%}
               srcset="{{ section.settings.logo | img_url: logo_size }} 1x, {{ section.settings.logo | img_url: logo_size, scale: 2 }} 2x"
               {%- endif -%}>
        </a>
        {%- else -%}
        <a href="{{ routes.root_url }}">
          <strong>{{ shop.name }}</strong>
        </a>
        {%- endif -%}
      </div>
      <button class="ltn__utilize-close">×</button>
    </div>
    {%- if section.settings.mobile_search_field_enable -%}
    <div class="ltn__utilize-menu-search-form">
      {%- render 'search-bar' -%}
    </div>
    {%- endif -%}
    <div class="ltn__utilize-menu">
      <ul>
        {%- assign main_menu = section.settings.main_menu_handle -%}
        {%- for link in linklists[main_menu].links -%}
        {%- assign childlink_handle = link.title | handle -%}
        {%- if linklists[childlink_handle] and linklists[childlink_handle].links.size > 0 -%}
        {%- if link.levels == 1 -%}
        <li><a href="{{ link.url }}">{{ link.title }}</a>
          <ul class="sub-menu">
            {%- for childlink in linklists[childlink_handle].links -%}
            <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
            {%- endfor -%}
          </ul>
        </li>
        {%- elsif link.levels == 2 -%}
        <li><a href="{{ link.url }}">{{ link.title }}</a>
          <ul class="sub-menu">
            {%- for childlink in linklists[childlink_handle].links -%}
            {%- assign grand_childlink_handle = childlink.title | handle -%}
            {%- if linklists[grand_childlink_handle] and linklists[grand_childlink_handle].links.size > 0 -%}
            <li><a href="{{ childlink.url }}">{{ childlink.title }}</a>
              <ul class="sub-menu">
                {%- for grand_childlink in linklists[grand_childlink_handle].links -%}

                {%- if grand_childlink.url contains "image" and grand_childlink.type == "collection_link" and grand_childlink.object.image -%}
                <li>
                  <a href="{{ childlink.url }}">
                    <img src="{{ childlink.object.image | img_url: 'large' }}" alt="" loading="lazy"/>
                  </a>
                </li>
                {%- else -%}
                <li><a href="{{ grand_childlink.url }}">{{ grand_childlink.title }}</a></li>
                {%- endif -%}
                {%- endfor -%}
              </ul>
            </li>
            {%- elsif childlink.type == "collection_link" and childlink.object.image -%}
            <li><a href="{{ childlink.url }}"><img loading="lazy" src="{{ childlink.object.image | img_url: 'large' }}" alt="" /></a></li>
            {%- endif -%}  
            {%- endfor -%}
          </ul>
        </li>
        {%- endif -%}
        {%- else -%}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {%- endif -%}
        {%- endfor -%}
        {%- if section.settings.extra_menu_item_enable -%}
        <li>
          <a {% if section.settings.target_blank_enable %}target="_blank"{% endif %} href="{{ section.settings.extra_menu_item_url }}">{{ section.settings.extra_menu_item_title }}</a>
        </li>
        {%- endif -%}
      </ul>
    </div>
    {%- if section.settings.header_option_enable -%}
    <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
      <ul>
        {%- if section.settings.user_menu_title != '' -%}
        <li>
          <a href="{{ routes.account_url }}" title="{{ section.settings.user_menu_title }}">
            <span class="utilize-btn-icon">
              <i class="far fa-user"></i>
            </span>
            {{ section.settings.user_menu_title }}
          </a>
        </li>
        {%- endif -%}
        {%- if section.settings.wishlit_title != '' -%}
        <li>
          <a href="{{ pages[section.settings.wishlist_page_handle].url }}" title="{{ section.settings.wishlit_title }}">
            <span class="utilize-btn-icon">
              <i class="far fa-heart"></i>
            </span>
            {{ section.settings.wishlit_title }}
          </a>
        </li>
        {%- endif -%}
        {%- if section.settings.shopping_cart_title != '' -%}        
        <li>
          <a href="{{ routes.cart_url }}" title="Shoping Cart">
            <span class="utilize-btn-icon">
              <i class="fas fa-shopping-cart"></i>
              <sup><span class="bigcounter">{{ cart.item_count }}</span></sup>
            </span>
            {{ section.settings.shopping_cart_title }}
          </a>
        </li>
        {%- endif -%}
      </ul>
    </div>
    {%- endif -%}
    {%- if section.settings.mobile_social_midea_enable -%}
    <div class="ltn__social-media-2">
      <ul>
        {%- render 'social-media' -%}
      </ul>
    </div>
    {%- endif -%}
  </div>
</div>
<!-- Utilize Mobile Menu End -->