{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
{%- assign on_sale = true -%}
{%- endif -%}
{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}
{%- assign variant = product.selected_or_first_available_variant -%}
{%- if product.available -%}
{%- assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" -%}
{%- endif -%}

<div class="col-lg-3 col-md-4 col-sm-6 col-6 wishlist-product-item product-tile-container wishlist-tile-container product-wrapper {{ variant.id }}" data-product-id="{{ product.id }}" data-product-handle="{{ product.handle }}">
  <div class="wishlist-item ltn__product-item-3">
    <div class="product-tile--tile-media">
      <a class="tile-media--media-link" href="{{ product.url }}">
        {%- assign image = product.featured_image.src -%}
        <div class="media-link--image image-position-wrapper" style="padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;">
          <img srcset="{% if image.width >= 150 %}{{ image | img_url: '152x' }} 152w,{% endif %}
                       {% if image.width >= 243 %}{{ image | img_url: '266x' }} 266w,{% endif %}
                       {% if image.width >= 366 %}{{ image | img_url: '366x' }} 366w,{% endif %}
                       {% if image.width >= 576 %}{{ image | img_url: '576x' }} 576w,{% endif %}
                       {% if image.width >= 600 %}{{ image | img_url: '600x' }} 600w,{% endif %}"
               src="{{ image | img_url: '600x' }}"
               sizes="100vw"
               width="{{ image.width }}"
               height="{{ image.height }}"
               alt="{{ image.alt | escape }}"
               loading="lazy"
               class="image-position-size popup_cart_image"
               >
        </div>
      </a>
    </div>
    <div class="product-tile--tile-content flex">
      <div class="tile-content--text">
        <h4 class="post-title"><a href="{{ product.url }}">{{ product.title }}</a></h4>
        {% if product.compare_at_price > product.price %}
        <p class="text--price pro-price">
          <del><span class="price--compare strike-through">{{ product.compare_at_price | money }}</span></del> 
          <span class="price--sale">{{ product.price | money }}</span>
        </p>
        {% else %}  
        <p class="text--price pro-price">{{ product.price | money }}</p>
        {% endif %}
      </div>
      <div class="product-tile--tile-actions flex">

        {%- if variant.inventory_policy == "continue" and variant.inventory_quantity <= 0 -%}
        <a class="theme-btn-1 btn btn-effect-1 mb-20" href="{{ product.url }}">{{ settings.preorder_button_title }}</a>
        {% else %}
          {%- if product.available -%}
            {%- if settings.product_quickview_enalbe -%}
            <a class="theme-btn-1 btn btn-effect-1 mb-20" title="{{ settings.quickview_title }}" data-toggle="modal" data-target="#quickViewModal" href="javascript:void(0);" 
               onclick="quiqview('{{ product.handle | handleize }}')">{{ settings.quickview_title }}
            </a>
            {%- endif -%}
          {%- else -%}
          <button class="cart-disable theme-btn-1 btn btn-effect-1 mb-20" title="{{ settings.soldout_button_title }}">
            <span class="cart-text">{{ settings.soldout_button_title }}</span>
          </button>
          {%- endif -%}
        {%- endif -%}
        

        {%- if product.handle != blank -%}
        <a class="action-wishlist tile-actions--btn flex wishlist-btn wishlist theme-btn-2 btn btn-effect-2" href="javascript: void(0)" button-wishlist data-product-handle="{{ product.handle }}">
          <span class="add-wishlist">{{ settings.add_wishlit_title }}</span>
          <span class="loading-wishlist"><i class="fas fa-spinner fa-pulse"></i></span>
          <span class="remove-wishlist">{{ settings.remove_wishlit_title }}</span>
        </a>
        {%- endif -%}

      </div>
    </div>
  </div>  
</div>